<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Welcome to Family Fiesta Quiz Portal</mat-card-title>
      </mat-card-header>
      <mat-list role="list" *ngFor="let user of users">
        <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Example home icon" style="padding-right: 10px;">done</mat-icon> {{user.userPoint}} Points</mat-list-item>
        <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Example home icon" style="padding-right: 10px;">hourglass_empty</mat-icon> {{user.userACount}}/20 Answered</mat-list-item>
      </mat-list>
</mat-card>