<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Welcome Back !</mat-card-title>
      </mat-card-header>
      <mat-list role="list">
        <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Example home icon" style="padding-right: 10px;">done</mat-icon> 20 Points</mat-list-item>
        <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Example home icon" style="padding-right: 10px;">hourglass_empty</mat-icon> 2/20 Answered</mat-list-item>
      </mat-list>
</mat-card>